Путь к корпусу : D:\Мои документы\Лабы и рефераты\5 курс 1 семестр\Обработка текстов на естественном языке\Корпус_small
Путь к блочному индексу : D:\Мои документы\Лабы и рефераты\5 курс 1 семестр\Обработка текстов на естественном языке\ЛР3\Лемматизация\tmp
Путь к индексу : D:\Мои документы\Лабы и рефераты\5 курс 1 семестр\Обработка текстов на естественном языке\Корпус_index
Число потоков : 4
Последний запрос : фильм || сериал || мультфильм
