Путь к корпусу : D:\Мои документы\Лабы и рефераты\5 курс 1 семестр\Информационный поиск\Корпус
Путь к блочному индексу : D:\Мои документы\Лабы и рефераты\5 курс 1 семестр\Информационный поиск\ЛР4\Булев поиск\tmp\
Путь к индексу : D:\Мои документы\Лабы и рефераты\5 курс 1 семестр\Информационный поиск\Корпус_index
Число потоков : 5
Последний запрос : (самый лучший фильм) || (интересный сериал || !документалка) 
